// Wifi settings
#define WIFI_SSID       ""
#define WIFI_PASS       ""

// Adafruit IO account
#define IO_USERNAME     ""
#define IO_KEY          ""

// Water pump relay pins
#define PUMP_SET_PIN 14

// External temprature sensor pin
#define ONE_WIRE_BUS 2

//Fan latching relay pins
#define FAN_SET_PIN 12
#define FAN_UNSET_PIN 13

// Temp to trigger box fan
#define FAN_TRIGGER_TEMP 24.0
